<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <!-- <th>Password</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= blog.content %></td>
        <!-- <td><%= blog.password %></td> -->
        <!-- <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <%= form_tag(hello_blogs_path) do  %>
          <div id="demo-form" class="demo-description" style="display: none; ">
            <p>Send this blog link to multiple email address
              <%= hidden_field_tag "blog_id", blog.id %>
              <%= text_area_tag "emails" %>
            </p>
            <p><%= submit_tag "Send" %></p>
          </div>
      <% end %>
            <td><%= link_to_modal "Share", "#demo-form", :class=>"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
